:root {
    --theme-color: rgb(119, 151, 175);
}
* {
    margin: 0px;
    font-family: 'Roboto slab';
    font-weight: 400;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: fit-content;
}
h1 {
    font-size: 60px;
    color: var(--theme-color);
    font-weight: 500;
}
.forms {
    display: flex;
    justify-content: center;
}
.register,
.login {
    width: 90vw;
    height: 430px;
    max-width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 2px var(--theme-color) dashed;
    margin-right: 3px;
}
.register-sign {
    width: 100%;
    display: flex;
}
.main-sign,
.sub-sign {
    width: 50%;
    height: 70px;
    display: grid;
    place-items: center;
    font-size: 24px;
    font-weight: 500;
    color: var(--theme-color);
}

.main-sign {
    cursor: default;
}

.sub-sign {
    opacity: 0.5;
    cursor: pointer;
}

.register-form-container {
    width: 100%;
    height: calc(100% - 70px);
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 80px;
}
.register-form-container form {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 8px;
}
.register-form-container form input,
.register-form-container button {
    padding-left: 4px;
    padding-right: 4px;
    height: 50px;
    font-size: 20px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 3px;
}
.register-form-container button {
    font-size: 24px;
    width: 90%;
    background-color: var(--theme-color);
    color: white;
    cursor: pointer;
    font-weight: 500;
}
.register-form-container button:hover {
    opacity: 0.8;
}
.register-form-container button:active {
    font-size: 18px;
}
.register-form-container form input {
    color: var(--theme-color);
}
.register-form-container form input:focus {
    border: 1px solid var(--theme-color);
}
.register-form-container form input::placeholder {
    color: var(--theme-color);
    opacity: 0.3;
}

.error {
    color: red;
    font-size: 12px;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 500px) {
    .root {
        gap: 10px;
    }

    .register,
    .login {
        height: 350px;
    }

    .register-form-container form input,
    .register-form-container button {
        font-size: 16px;
        height: 40px;
    }

    .register-form-container button:active {
        font-size: 14px;
    }

    .main-sign,
    .sub-sign {
        font-size: 20px;
        height: 50px;
    }

    .register-form-container {
        height: calc(100% - 50px);
    }

    h1 {
        font-size: 40px;
    }
}
