:root {
    --button-color: rgb(1, 109, 186);
    --button-color-hover: rgb(41, 149, 226);
    --head-color: rgb(0, 98, 168);
    --text-color: rgb(50, 150, 200);
}

* {
    margin: 0px;
    font-family: 'Edu NSW ACT Foundation';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.root {
    width: 300px;
    height: 450px;
    display: grid;
    grid-template-rows: 60px 1fr;
    padding: 10px;
}

.root .header {
    font-size: 30px;
    padding: 0px 10px 0px 10px;
    display: flex;
    gap: 14px;
    align-items: center;
}

.root .header span {
    font-weight: 600;
    flex: 1;
}

.root .header i {
    position: relative;
    font-size: 25px;
    cursor: pointer;
    color: var(--button-color);
}

.hover-note {
    position: absolute;
    bottom: -32px;
    left: -12px;
    background-color: rgb(247, 247, 247);
    padding: 4px;
    border-radius: 2px;
    font-size: 20px;
    opacity: 0;
    transition: opacity 100ms;
    pointer-events: none;
    border: 1px solid var(--button-color);
}

.root .header i:hover {
    color: var(--button-color-hover);
}

.save-button:hover .hover-note {
    opacity: 1;
}

.delete-button:hover .hover-note {
    opacity: 1;
}

.back-button .hover-note {
    left: -5px;
}

.back-button:hover .hover-note {
    opacity: 1;
}

.root main .new-note-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0px 0px 5px rgb(151, 151, 151);
}

.root main .note-title {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    border: none;
    outline: none;
    color: var(--head-color);
}

.root main .note-title::placeholder {
    color: var(--head-color);
    opacity: 0.4;
}

.root main hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgb(189, 189, 189);
}

.root main .note-content {
    resize: none;
    width: 100%;
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    color: var(--text-color);
}

.root main .note-content::placeholder {
    color: var(--text-color);
    opacity: 0.4;
}

.error {
    padding: 0px 0px 5px 10px;
    color: red;
}
